@model IEnumerable<SiiTaxi.Models.Taxi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproverID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ownerConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approverConfirmed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproverID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ownerConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approverConfirmed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaxiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaxiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaxiID })
        </td>
    </tr>
}

</table>
