@{
    ViewBag.Title = "Potwierdzenie przejazdu";
}
@section recaptcha {
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

<h3>Potwierdzenie dołączenia do przejazdu</h3>
<hr />
<div>
    <div class="panel panel-info">
        <div class="panel-heading">Informacje na temat przejazdu:</div>
        <div class="panel-body">
            <label>Kontakt: </label> @Model.Taxi.People.Email 
        </div>
        <div class="panel-body">
            <label>Miejsce początkowe: </label> @Model.Taxi.From
        </div>
        <div class="panel-body">
            <label>Miejsce docelowe: </label> @Model.Taxi.To
        </div>
        <div class="panel-body">
            <label>Data: </label> @Model.Taxi.Time.ToString("dd/MM/yyyy")
        </div>
        <div class="panel-body">
            <label>Godzina: </label> @Model.Taxi.Time.ToString("HH:mm")
        </div>
    </div>

    <form method="post" action="@Url.Action("ConfirmJoin", "Taxi", new { id = Model.Id, code=TempData["code"] })">
        <br/>
        <button class="btn btn-success" type="submit">Potwierdź</button>
        <button class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Taxi")'">Anuluj</button>
    </form>

</div>