@model SiiTaxi.Models.Taxi
@{
    ViewBag.Title = "Dołącz do przejazdu";
}
        <h3>Dołącz do przejazdu</h3>
        <div>
            <div>
                <label>Miejsce początkowe: </label> @Html.DisplayFor(model => model.From)
            </div>
            <div>
                <label>Miejsce docelowe: </label> @Html.DisplayFor(model => model.To)
            </div>
            <div>
                <label>Data: </label> @Model.Date.ToString("dd/MM/yyyy")
            </div>
            <div>
                <div>
                    <label>Godzina: </label> @Model.Date.ToString("HH:mm")
                </div>
                <div>
                    <label>Wpisz swoj email: </label>
                    <input placeholder="Email" />
                </div>
                <p>
                    <button class="btn btn-primary">Dołącz</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Taxi")'">Anuluj</button>
                </p>
            </div>
</div>