@using SiiTaxi.Models;
@model SiiTaxi.Models.Taxi
@{
    ViewBag.Title = "Dołącz do przejazdu";
}
@section recaptcha {
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

<h3>Dołączanie do przejazdu</h3>
@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Błąd!</strong> @TempData["errorMessage"]
    </div>
}
@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Sukces!</strong> @TempData["successMessage"]
    </div>
}
<div>
    <div class="panel panel-info">
        <div class="panel-heading">Informacje na temat przejazdu:</div>
        <div class="panel-body">
            <label>Miejsce początkowe: </label> @Model.From
        </div>
        <div class="panel-body">
            <label>Miejsce docelowe: </label> @Model.To
        </div>
        <div class="panel-body">
            <label>Data: </label> @Model.Time.ToString("dd/MM/yyyy")
        </div>
        <div class="panel-body">
            <label>Godzina: </label> @Model.Time.ToString("HH:mm")
        </div>
    </div>

    <form method="post" action="@Url.Action("Include", "Taxi", new { id = Model.TaxiId })">
        <div class="form-group">
            <label for="name">Podaj swoje imię i nazwisko: </label>
            <input class="form-control" id="name" name="name" type="text" placeholder="Imię i nazwisko"/>
        </div>
        <div class="form-group">
            <label for="phone">Podaj swój numer telefonu: </label>
            <input class="form-control" id="phone" name="phone" type="tel" placeholder="Telefon"/>
        </div>
        <div class="form-group">
            <label for="email">Wpisz swoj email: </label>
            <input class="form-control" id="email" type="email" name="email" placeholder="Email"/>
        </div>
        <br/>
        <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>

        <br/>
        <button class="btn btn-primary" type="submit">Dołącz</button>
        <button class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Taxi")'">Anuluj</button>
    </form>

</div>