@model IQueryable <SiiTaxi.Models.Taxi>
@{
    ViewBag.Title = "Przejazdy";
}
<h3>Przejazdy</h3>
<hr />
<div class="form-group">
    <label for="datetimepicker10">Wybierz dzień:</label>
    <div class="input-group date" id="datetimepicker10">
        <input type="text" class="form-control"/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
        </span>
    </div>
</div>
<div>
@if (Model.Any(x => x.IsConfirmed && x.Time > DateTime.Now))
{
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr class="thead-inverse">
            <th>#</th>
            <th>Start</th>
            <th>Cel</th>
            <th>Godzina</th>
            <th>Pasażerowie</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var objUser in Model.Where(x => x.IsConfirmed && x.Time > DateTime.Now).OrderBy(x => x.Time))
        {
            <tr @((objUser.Time - DateTime.Now).TotalHours<1? new { @class = "warning" }: null)>
                <th scope="row">@objUser.TaxiId.ToString()</th>
                <td>@objUser.From</td>
                <td>@objUser.To</td>
                <td>@objUser.Time.ToString("HH:mm")</td>
                <td>@(objUser.TaxiPeople.Count(x => x.IsConfirmed && !x.ResourceOnly) + 1) / 
                    @if (objUser.IsBigTaxi)
                        {
                            <label>7</label>
                        }
                        else
                        {
                            <label>4</label>
                        }
                </td>
                @if (objUser.TaxiPeople.Count(x => x.IsConfirmed && !x.ResourceOnly) <= (objUser.IsBigTaxi? 5 : 2))
                {
                    <td>
                        <button data-toggle="tooltip" data-placement="top" title="Kliknij by dołączyć lub dodać przesyłkę." type="button" class="btn btn-small btn-success" onclick="location.href = '@Url.Action("Join", "Taxi", new { id = objUser.TaxiId })';return false;">Dołącz</button>
                        @if ((objUser.Time - DateTime.Now).TotalHours < 1)
                        {
                            <span style="color: red; float:right;"><span class="glyphicon glyphicon glyphicon-bell"></span><b> Mało czasu! </b> </span>
                        }
                    </td>
                }
                else
                {
                    <td>
                        <button data-toggle="tooltip" data-placement="top" title="Taksówka pełna. Kliknij by dodać przesyłkę" type="button" class="btn btn-small btn-primary" onclick="location.href = '@Url.Action("Join", "Taxi", new { id = objUser.TaxiId })';return false;">Przesyłka</button>
                    </td>
                }

            </tr>
        }
        </tbody>
    </table>
    </div>
        }
        else
        {
    <div class="alert alert-info">
        <strong>Pusto!</strong> Brak przejazdów wybranego dnia.
    </div>
    }
</div>

@section scripts {
    <script>

        $(function() {
            $('[data-toggle="tooltip"]').tooltip();

            var dateUrl = getParameterByName("date", window.location.href);

            var choosenDate = dateUrl ? new Date(dateUrl) : new Date();

            var d = new Date();
            d.setHours(0, 0, 0, 0);

            $('#datetimepicker10')
                .datetimepicker({
                    locale: 'pl',
                    minDate: d,
                    defaultDate: choosenDate,
                    viewMode: 'days',
                    format: 'DD/MM/YYYY'
                })
                .on("dp.change",
                    function(e) {
                        var date = e.date.toDate().toISOString();
                        var url = '@Url.Action("Index", "Taxi", new {date = "__param__"})';
                        location.href = url.replace('__param__', encodeURIComponent(date));
                        return false;
                    });
        });

        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

    </script>
}