@using SiiTaxi.Models;
@{
    ViewBag.Title = "Przejazdy";
}

<h2>Przejazdy</h2>
<div>
    <table class="table">
        <thead>
            <tr class="thead-inverse">
                <th>#</th>
                <th>Z</th>
                <th>Do</th>
                <th>Godzina</th>
                <th>Pasażerowie</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Taxi objUser in Model)
            {
                <tr>
                    <th scope="row">@objUser.TaxiId.ToString()</th>
                    <td>@objUser.From.ToString()</td>
                    <td>@objUser.To.ToString()</td>
                    <td>@objUser.Time.ToString()</td>
                    <td></td>
                    <td><button type="button" class="btn btn-small btn-success" onclick="location.href='@Url.Action("Include", "Taxi")';return false;">Dołącz</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>