@using SiiTaxi.Models;
@model SiiTaxi.Models.TaxiViewModel
@{
    ViewBag.Title = "Przejazdy";
}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<h2>Przejazdy</h2>
<div class="form-group">
    <label for="datetimepicker10">Wybierz dzień:</label>
    <div class='input-group date' id='datetimepicker10'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
        </span>
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <tr class="thead-inverse">
                <th>#</th>
                <th>Start</th>
                <th>Cel</th>
                <th>Godzina</th>
                <th>Pasażerowie</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Taxi objUser in Model.Taxis)
            {
                <tr>
                    <th scope="row">@objUser.TaxiId.ToString()</th>
                    <td>@objUser.From.ToString()</td>
                    <td>@objUser.To.ToString()</td>
                    <td>@objUser.Time.ToString()</td>
                    <td></td>
                    <td><button type="button" class="btn btn-small btn-success" onclick="location.href='@Url.Action("Include", "Taxi")';return false;">Dołącz</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
<script>

    $(function () {
        $('#datetimepicker10').datetimepicker({
            locale: 'pl',
            defaultDate: new Date('@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")'),
            viewMode: 'days',
            format: 'DD/MM/YYYY'
        }).on("dp.change", function (e) {
            var date = e.date.toDate().toISOString();
            var url = '@Url.Action("Index", "Taxi", new { date= "__param__" })';
            location.href = url.replace('__param__', encodeURIComponent(date));
            return false;
        });
    })

</script>
  }