@model SiiTaxi.Models.TaxiViewModel
@{
    ViewBag.Title = "Przejazdy";
}
<h2>Przejazdy</h2>
<div class="form-group">
    <label for="datetimepicker10">Wybierz dzień:</label>
    <div class="input-group date" id="datetimepicker10">
        <input type="text" class="form-control"/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
        </span>
    </div>
</div>
<div>
@if (Model.Taxis.Any())
{
    <table class="table table-hover table-responsive">
        <thead>
        <tr class="thead-inverse">
            <th>#</th>
            <th>Start</th>
            <th>Cel</th>
            <th>Godzina</th>
            <th>Pasażerowie</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var objUser in Model.Taxis.Where(x => x.IsConfirmed))
        {
            <tr>
                <th scope="row">@objUser.TaxiId.ToString()</th>
                <td>@objUser.From</td>
                <td>@objUser.To</td>
                <td>@objUser.Time.ToString("HH:mm")</td>
                <td>@(objUser.TaxiPeople.Where(x => x.IsConfirmed).Count() + 1) / 
                    @if (@objUser.IsBigTaxi)
                        {
                            <label>7</label>
                        }
                        else
                        {
                            <label>4</label>
                        }
                </td>
                @if (objUser.TaxiPeople.Where(x => x.IsConfirmed).Count() <= (objUser.IsBigTaxi? 5 : 2))
                {
                    <td>
                        <button type="button" class="btn btn-small btn-success" onclick="location.href = '@Url.Action("Join", "Taxi", new { id = objUser.TaxiId })';return false;">Dołącz</button>
                    </td>
                }
                else
                {
                    <td>
                        <button type="button" class="btn btn-small btn-danger" disabled>Pełno</button>
                    </td>
                }

            </tr>
        }
        </tbody>
    </table>
        }
        else
        {
    <div class="alert alert-info">
        <strong>Pusto!</strong> Brak przejazdów wybranego dnia.
    </div>
    }
</div>

@section scripts {
    <script>

        $(function() {
            var date = getParameterByName("date", window.location.href);

            var choosenDate = date ? new Date(date) : new Date();

            $('#datetimepicker10')
                .datetimepicker({
                    locale: 'pl',
                    defaultDate: choosenDate,
                    viewMode: 'days',
                    format: 'DD/MM/YYYY'
                })
                .on("dp.change",
                    function(e) {
                        var date = e.date.toDate().toISOString();
                        var url = '@Url.Action("Index", "Taxi", new {date = "__param__"})';
                        location.href = url.replace('__param__', encodeURIComponent(date));
                        return false;
                    });
        });

        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

    </script>
}