@using System.Collections.Specialized
@{
    ViewBag.Title = "Nowy przejazd";
}

@section recaptcha {
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

<h2>Nowy przejazd</h2>
@functions {
    public string GetValue(string name)
    {
        var data = TempData["formData"] as NameValueCollection;
        return data != null ? data[name] : "";
    }
}
<form method="post" action="@Url.Action("New", "Taxi")" data-toggle="validator">
    <div class="form-group has-feedback">
        <label for="ownerName">Zgłaszający:</label>
        <input type="text" class="form-control" id="ownerName" name="ownerName" value="@GetValue("ownerName")" placeholder="Imię i nazwisko" required>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group has-feedback">
        <input type="email" class="form-control" id="ownerEmail" value="@GetValue("ownerEmail")" name="ownerEmail" pattern=".*pl\.sii\.eu" data-pattern-error="Dopuszczalny tylko E-mail Sii!" placeholder="E-mail" required>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group has-feedback">
        <input type="tel" class="form-control" id="ownerPhone" value="@GetValue("ownerPhone")" name="ownerPhone" pattern="[\+]?\d{8,12}" data-pattern-error="Niepoprawny numer telefonu!" placeholder="Numer telefonu">
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group has-feedback">
        <label for="datetimepicker10">Data i godzina przejazdu:</label>
        <div class="input-group date" id="datetimepicker10">
            <input type="text" class="form-control" id="time" name="time" value="@GetValue("time")" required />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label for="przejazdFrom">Miejsce początkowe:</label>
        <input type="text" class="form-control" id="przejazdFrom" name="przejazdFrom" value="@GetValue("przejazdFrom")" required>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group has-feedback">
        <label for="przejazdTo">Miejsce docelowe:</label>
        <input type="text" class="form-control" id="przejazdTo" name="przejazdTo" value="@GetValue("przejazdTo")" required>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
        <label for="exampleSelect1">Wybierz approvera:</label>
        <select class="form-control" name="approver" id="exampleSelect1" required>
            <option disabled selected> -- Wybierz Approvera -- </option>
            @foreach (var approver in Model.Approvers)
            {
                if (GetValue("approver") == approver.PeopleId.ToString())
                {
                    <option value="@approver.PeopleId" selected="selected">@approver.Name</option>
                }
                else
                {
                    <option value="@approver.PeopleId">@approver.Name</option>
                }
            }
        </select>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="bigTaxiCheckbox" value="bigTaxi" />Duża Taxówka
        </label>
        <br>
        <br>
    </div>

    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="orderCheckbox" value="order" />Czy zamówić taksówke?
        </label>
        <br>
        <br>
    </div>

    <div class="form-group">
        <label>Dodatkowe osoby:</label>
    </div>

    <div class="form-group">
        <span class="btn btn-success" id="osobyButton" onclick="dodajOsobe()">Dodaj osobę</span>
    </div>

    <div id="dodatkoweOsoby">

    </div>
    <br>
    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
    <button type="submit" class="btn btn-default">Zamów</button>
</form>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker10')
                .datetimepicker({
                    locale: 'pl',
                    defaultDate: new Date('@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")'),
                    viewMode: 'days',
                    format: 'DD/MM/YYYY HH:mm'
                });
        });

        var maleTaxi = 3;
        var duzeTaxi = 6;

        var dodatkoweOsoby = 0;
        var maxOsob = maleTaxi;
        var disabled = false;

        $('#bigTaxiCheckbox').change(function () {
            if ($(this).is(":checked")) {
                maxOsob = duzeTaxi;
                refreshButton();
                return;
            }
            maxOsob = maleTaxi;
            refreshButton();
            deleteInputs();
        });

        var refreshButton = function () {
            if (dodatkoweOsoby < maxOsob) {
                disabled = false;
                $('#osobyButton').removeClass('disabled');
            }
            else {
                disabled = true;
                $('#osobyButton').addClass('disabled');
            }
        }

        var deleteInputs = function () {
            if ($('.dodatkowaOsoba').length > maleTaxi) {
                $('.dodatkowaOsoba:gt(' + (maleTaxi - 1) + ')').remove();
            }
        }

        var dodajOsobe = function () {
            if (!disabled) {
                dodatkoweOsoby++;
                $('#dodatkoweOsoby')
                    .append("<div class=\"input-group dodatkowaOsoba form-group has-feedback\">" +
        "<input type=\"email\" class=\"form-control\" id=\"adds\" name=\"adds\" pattern=\".*pl\.sii\.eu\"" +
        " data-pattern-error=\"Dopuszczalny tylko E-mail Sii!\" placeholder=\"E-mail\" required>" +
        "<span class=\"glyphicon form-control-feedback\" aria-hidden=\"true\"></span>" +
        "<div class=\"help-block with-errors\"></div></div>");
                $('#dodatkoweOsoby > .dodatkowaOsoba:last')
                    .append("<span class=\"input-group-addon btn btn-danger deleteDiv\">Usuń</span>");
                $(".deleteDiv")
                    .unbind()
                    .on("click",
                        function () {
                            $(this).parent().remove();
                            dodatkoweOsoby--;
                            refreshButton();
                        });
            }

            refreshButton();
        };
    </script>
}