@using SiiTaxi.Models;
@using System.Collections.Specialized
@model SiiTaxi.Models.PeopleViewModel
@{
    ViewBag.Title = "Nowy przejazd";
}

@section recaptcha {
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

<h2>Nowy przejazd</h2>
@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Błąd!</strong> @TempData["errorMessage"]
    </div>
}
@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Sukces!</strong> @TempData["successMessage"]
    </div>
}
@functions {
    public string GetValue(string name)
    {
        var x = TempData["formData"] as NameValueCollection;
        return x != null? x[name] : "";
    }
    }
<form method="post" action="@Url.Action("New", "Taxi")">
    <div class="form-group">
        <label for="ownerName">Zgłaszający:</label>
        <input type="text" class="form-control" id="ownerName" name="ownerName" value="@GetValue("ownerName")" placeholder="Imię i nazwisko" required>
        <input type="tel" class="form-control" id="ownerPhone" value="@GetValue("ownerPhone")" name="ownerPhone" placeholder="Numer telefonu">
        <input type="email" class="form-control" id="ownerEmail" value="@GetValue("ownerEmail")" name="ownerEmail" aria-describedby="emailHelp" placeholder="E-mail" required>
        <small id="emailHelp" class="form-text text-muted">Podaj swój e-mail w Sii.</small>
        <input type="email" class="form-control" id="ownerAltEmail" name="ownerAltEmail" value="@GetValue("ownerAltEmail")" aria-describedby="emailHelp" placeholder="Alternatywny E-mail">
        <small id="emailHelp" class="form-text text-muted">Podaj swój alternatywny e-mail.</small>
    </div>

    <div class="form-group">
        <label for="datetimepicker10">Data i godzina przejazdu:</label>
        <div class="input-group date" id="datetimepicker10">
            <input type="text" class="form-control" id="time" name="time" value="@GetValue("time")" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="przejazdFrom">Miejsce początkowe:</label>
        <input type="text" class="form-control" id="przejazdFrom" name="przejazdFrom" value="@GetValue("przejazdFrom")" required>
        <label for="przejazdTo">Miejsce docelowe:</label>
        <input type="text" class="form-control" id="przejazdTo" name="przejazdTo" value="@GetValue("przejazdTo")" required>
    </div>

    <div class="form-group">
        <label for="exampleSelect1">Wybierz approvera:</label>
        <select class="form-control" name="approver" id="exampleSelect1" required>
            @foreach (People approver in Model.Approvers)
    {           
                if (GetValue("approver") == approver.PeopleId.ToString())
                {
                    <option value="@approver.PeopleId" selected="selected">@approver.Name</option>
                }
                else
                {
                <option value="@approver.PeopleId">@approver.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="bigTaxiCheckbox" value="bigTaxi"> Duża Taxówka
        </label>
        <br>
        <br>
    </div>

    <div class="form-group">
        <label>Dodatkowe osoby:</label>
    </div>

    <div class="form-group">
        <span class="btn btn-success" id="osobyButton" onclick="dodajOsobe()">Dodaj osobę</span>
    </div>

    <div id="dodatkoweOsoby">

    </div>
    <br>
    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
    <button type="submit" class="btn btn-default">Zamów</button>
</form>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker10')
                .datetimepicker({
                locale: 'pl',
                    defaultDate: new Date('@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")'),
                    viewMode: 'days',
                    format: 'DD/MM/YYYY HH:mm'
                });
        });

        var maleTaxi = 3;
        var duzeTaxi = 6;

        var dodatkoweOsoby = 0;
        var maxOsob = maleTaxi;
        var disabled = false;

        $('#bigTaxiCheckbox').change(function () {
            if ($(this).is(":checked")) {
                maxOsob = duzeTaxi;
                refreshButton();
                return;
            }
            maxOsob = maleTaxi;
            refreshButton();
            deleteInputs();
        });

        var refreshButton = function () {
            if (dodatkoweOsoby < maxOsob) {
                disabled = false;
                $('#osobyButton').removeClass('disabled');
            }
            else {
                disabled = true;
                $('#osobyButton').addClass('disabled');
            }
        }

        var deleteInputs = function () {
            if ($('.dodatkowaOsoba').length > maleTaxi) {
                $('.dodatkowaOsoba:gt('+(maleTaxi-1)+')').remove();
            }
        }

        var dodajOsobe = function () {
            if (!disabled) {
                dodatkoweOsoby++;
                $('#dodatkoweOsoby')
                    .append("<div class=\"input-group dodatkowaOsoba\">" +
                        "<input type=\"text\" name=\"adds\" class=\"form-control\" placeholder=\"Imię i nazwisko dodatkowej osoby\"></div>");
                $('#dodatkoweOsoby > .dodatkowaOsoba:last')
                    .append("<span class=\"input-group-addon btn btn-danger deleteDiv\">Usuń</span>");
                $(".deleteDiv")
                    .unbind()
                    .on("click",
                        function () {
                            $(this).parent().remove();
                    dodatkoweOsoby--;
                    refreshButton();
                });
            }

            refreshButton();
        };
    </script>
}