@{
    ViewBag.Title = "Anulowanie przejazdu";
}
@section recaptcha {
    <script src="https://www.google.com/recaptcha/api.js"></script>
}

<h3>Potwierdzenie przejazdu</h3>
<div>
    <div class="panel panel-info">
        <div class="panel-heading">Informacje na temat przejazdu:</div>
        <div class="panel-body">
            <label>Kontakt: </label> @Model.People.Email
        </div>
        <div class="panel-body">
            <label>Miejsce początkowe: </label> @Model.From
        </div>
        <div class="panel-body">
            <label>Miejsce docelowe: </label> @Model.To
        </div>
        <div class="panel-body">
            <label>Data: </label> @Model.Time.ToString("dd/MM/yyyy")
        </div>
        <div class="panel-body">
            <label>Godzina: </label> @Model.Time.ToString("HH:mm")
        </div>
    </div>

    <form method="post" action="@Url.Action("Remove", "Taxi", new { id = Model.TaxiId, code=TempData["code"] })">
        <br/>
        <button class="btn btn-danger" type="submit">Potwierdź</button>
        <button class="btn btn-success" onclick="location.href = '@Url.Action("Index", "Taxi")'">Anuluj</button>
    </form>

</div>