@using SiiTaxi.Models
@model IQueryable<Taxi>
@{
    ViewBag.Title = "Administracja";
}
@Html.Partial("_AdminNav", new ViewDataDictionary { { "name", "allTaxi" } }) 
<div>
    @if (Model.Any())
    {
        <div id="toolbar">
            <button id="button" class="btn btn-default">Export Excel</button>
        </div>
        <div class="table-responsive">
            <table id="table" class="table table-hover" style="text-align: center; font-size: 12px;" 
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-advanced-search="true"
                   data-id-table="advancedTable"
                   data-locale="pl-PL"
                   data-show-pagination-switch="true"
                   data-toolbar="#toolbar"
       data-show-columns="true"
                >
                <thead>
                    <tr class="thead-inverse">
                        <th>ID</th>
                        <th data-sortable="true" data-searchable="true">Start</th>
                        <th data-sortable="true" data-searchable="true">Cel</th>
                        <th data-sortable="true">Data i Godzina</th>
                        <th>Pasażerowie potwierdzeni</th>
                        <th>Potwierdzona</th>
                        <th data-sortable="true" data-searchable="true">Approver</th>
                        <th data-sortable="true" data-searchable="true">Rodzaj taxi</th>
                        <th data-sortable="true" data-searchable="true">Kod Taxi</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var taxi in Model.OrderBy(x => x.Time))
                    {
                        <tr>
                            <td>@taxi.TaxiId</td>
                            <td>@taxi.From</td>
                            <td>@taxi.To</td>
                            <td>@taxi.Time.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>
                                <ul class="list-group">
                                    <li class="list-group-item" style="color: green">
                                        @taxi.People.Email @taxi.People.Phone
                                    </li>
                                    @foreach (var passenger in taxi.TaxiPeople.Where(x => x.IsConfirmed))
                                    {
                                        <li class="list-group-item">@passenger.People.Email @passenger.People.Phone</li>
                                    }
                                    </ul>
                            </td>
                            <td>
                                @if (taxi.IsConfirmed)
                                {
                                    <label>Tak</label>
                                }
                                else
                                {
                                    <label>Nie</label>
                                }
                            </td>
                            <td>@taxi.Approvers.People.Name</td>
                            <td>
                                <label>@(taxi.IsBigTaxi ? "Duża" : "Zwykła"), @( taxi.Order ? taxi.IsOrdered ? "Zamówiona" : "Do zamówienia" : "Sam kod")</label>
                            </td>
                            <td>
                               <label>@taxi.TaxiCode</label>
                            </td>
                            <td class="col-md-2">
                                <button name="action" title="Usuń" value="Usuń" class="btn btn-danger" onclick="location.href = '@Url.Action("DeleteTaxi", "Admin", new { id = taxi.TaxiId })';return false;"><span class="glyphicon glyphicon-remove"></span> Usuń </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
            }
            else
            {
            <div class="alert alert-info">
                <strong>Pusto!</strong> Brak przejazdów.
            </div>
            }
        </div>

@section scripts {
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script>

        var $table = $('#table');
        var $button = $('#button');

        $button.click(function () {
            $table.tableExport({
                type: 'excel',
                ignoreColumn: [$('#table tr:nth-child(1) td:last').index()],
                fileName: "Przejazdy-export-"+new Date().toISOString().substring(0, 16)
            });
        });
    </script>
}