﻿@using SiiTaxi.Models;
@model SiiTaxi.Models.PeopleViewModel
@{
    ViewBag.Title = "Administracja";
}
<h2>Administracja</h2>
<ul class="nav nav-pills">
    <li role="presentation">@Html.ActionLink("Home", "Index", "Admin")</li>
    <li role="presentation">@Html.ActionLink("Taxi", "Taxi", "Admin")</li>
    <li role="presentation" class="active">@Html.ActionLink("Approvers", "Approvers", "Admin")</li>
    <li role="presentation">@Html.ActionLink("Zarządzaj kontem", "Index", "Manage")</li>
</ul>

<div>
    <table class="table">
        <thead>
        <tr class="thead-inverse">
            <th>#</th>
            <th>Imię i nazwisko</th>
            <th>E-mail</th>
            <th>Telefon</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        @foreach (People approver in Model.Approvers)
        {
            <tr>
                <th scope="row">@approver.PeopleId</th>
                <td>@approver.Name</td>
                <td>@approver.Email</td>
                <td>@approver.Phone</td>
                <td>
                    <button type="button" class="btn btn-small btn-success" onclick="location.href = '@Url.Action("Approvers", "Admin", new {id = approver.PeopleId})';return false;">Edytuj</button>
                    <button type="button" class="btn btn-small btn-danger" onclick="location.href = '@Url.Action("Approvers", "Admin", new {id = approver.PeopleId})';return false;">Usuń</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>