﻿@using SiiTaxi.Models;
@model SiiTaxi.Models.TaxiViewModel
@{
    ViewBag.Title = "Administracja";
}
<h2>Administracja</h2>
<ul class="nav nav-pills">
    <li role="presentation" class="active">@Html.ActionLink("Taxi", "Taxi", "Admin")</li>
    <li role="presentation">@Html.ActionLink("Approvers", "Index", "Approvers")</li>
    <li role="presentation">@Html.ActionLink("Zarządzaj kontem", "Index", "Manage")</li>
</ul>
<br/>
<div>
    <label for="datetimepicker10">Wybierz dzień:</label>
    <div class="input-group date" id="datetimepicker10">
        <input type="text" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
        </span>
    </div>
    @if (Model.Taxis.Count() > 0)
    {
    <table class="table table-hover table-responsive" style="font-size: 12px">
        <thead>
            <tr class="thead-inverse">
                <th>#</th>
                <th>Start</th>
                <th>Cel</th>
                <th>Godzina</th>
                <th>Pasażerowie</th>
                <th>Numer tel.</th>
                <th>Approver</th>
                <th>Duża?</th>
                <th>Potwierdzona?</th>
                <th>Zamówiona?</th>
                <th>Kod Taxi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var taxi in Model.Taxis)
            {
                <tr>
                    <th scope="row">@taxi.TaxiId</th>
                    <td>@taxi.From</td>
                    <td>@taxi.To</td>
                    <td>@taxi.Time.ToString("HH:mm")</td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item" style="color: green">
                                @taxi.People.Email
                            </li>
                            @for (var i = 0; i < taxi.TaxiPeople.Count; i++)
                            {
                                <li class="list-group-item">@taxi.TaxiPeople.ElementAt(i).People.Email</li>
                            }
                        </ul>
                    </td>
                    <td>@taxi.People.Phone</td>
                    <td>@taxi.Approvers.People.Name</td>
                    <td style="text-align: center;">
                        @if (taxi.IsBigTaxi)
                        {
                            <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true" style="color: red"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (taxi.IsConfirmed)
                        {
                            <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (taxi.IsOrdered)
                        {
                            <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
                        }
                    </td>
                    <td class="col-md-2">
                        
                        <form name="codeForm" class="input-group" method="post" action="@Url.Action("SendCode", "Admin", new { id = taxi.TaxiId })">
                            <input type="text" class="form-control" name="code" id="taxicode" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success btn-search"><span class="glyphicon glyphicon glyphicon-send"></span></button>
                            </span>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
        <div class="alert alert-info">
            <strong>Pusto!</strong> Brak przejazdów wybranego dnia.
        </div>
    }
</div>

@section scripts {
    <script>

        $(function() {
            var date = getParameterByName("date", window.location.href);

            var choosenDate = date ? new Date(date) : new Date();

            $('#datetimepicker10')
                .datetimepicker({
                    locale: 'pl',
                    defaultDate: choosenDate,
                    viewMode: 'days',
                    format: 'DD/MM/YYYY'
                })
                .on("dp.change",
                    function(e) {
                        var date = e.date.toDate().toISOString();
                        var url = '@Url.Action("Taxi", "Admin", new {date = "__param__"})';
                        location.href = url.replace('__param__', encodeURIComponent(date));
                        return false;
                    });
        });

        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

    </script>
}