﻿@using SiiTaxi.Models;
@model SiiTaxi.Models.People
@{
    ViewBag.Title = "Usuwanie approvera";
}
<h2>Administracja</h2>
<div>
    <ul class="nav nav-pills">
        <li role="presentation">@Html.ActionLink("Taxi", "Taxi", "Admin")</li>
        <li role="presentation" class="active">@Html.ActionLink("Approvers", "Index", "Approvers")</li>
        <li role="presentation">@Html.ActionLink("Zarządzaj kontem", "Index", "Manage")</li>
    </ul>
    <br/>
    <div>
        <div class="panel panel-info">
            <div class="panel-heading">Czy na pewno chcesz usunąć Approvera?</div>
            <div class="panel-body">
                <label>Imię i nazwisko: </label> @Model.Name
            </div>
            <div class="panel-body">
                <label>E-mail </label> @Model.Email
            </div>
            <div class="panel-body">
                <label>Numer telefonu: </label> @Model.Phone
            </div>
            <form method="post" action="@Url.Action("Delete", "Approvers", new {id = Model.PeopleId})">
                <button type="submit" class="btn btn-small btn-danger">Usuń</button>
                <button type="button" class="btn btn-small btn-default" onclick="location.href = '@Url.Action("Index", "Approvers")';return false;">Anuluj</button>
            </form>
        </div>
    </div>
</div>