@{
    ViewBag.Title = "Usuwanie approvera";
}
<h2>Administracja</h2>
<hr />
<ul class="nav nav-pills">
    <li role="presentation">@Html.ActionLink("Taxi", "Taxi", "Admin")</li>
    <li role="presentation" class="active">@Html.ActionLink("Approvers", "Index", "Approvers")</li>
    <li role="presentation">@Html.ActionLink("Zarządzaj kontem", "Index", "Manage")</li>
</ul>

<h3>Edycja Approvera</h3>
<hr />
<div>

    <form method="post" action="@Url.Action("Update", "Approvers", new { id = Model.PeopleId })" data-toggle="validator">
        <div class="form-group has-feedback">
            <label for="name">Imię i nazwisko:</label>
            <input class="form-control" id="name" name="name" type="text" value="@Model.Name" placeholder="Imię i nazwisko" required/>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group has-feedback">
            <label for="email">E-mail:</label>
            <input class="form-control" id="email" type="email" name="email" value="@Model.Email" pattern=".*pl\.sii\.eu" data-pattern-error="Dopuszczalny tylko E-mail Sii!" placeholder="E-mail" required>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="phone">Numer telefonu:</label>
            <input class="form-control" id="phone" name="phone" type="tel"  value="@Model.Phone" pattern="[\+]?\d{8,12}" data-pattern-error="Niepoprawny numer telefonu!" placeholder="Numer telefonu">    
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <div class="help-block with-errors"></div>
        </div>

        <br />
        <button class="btn btn-primary" type="submit">Zaktualizuj</button>
        <span class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Approvers")'">Anuluj</span>
    </form>
</div>