﻿@using SiiTaxi.Models;
@model SiiTaxi.Models.People
@{
    ViewBag.Title = "Usuwanie approvera";
}
<h2>Administracja</h2>
<ul class="nav nav-pills">
    <li role="presentation">@Html.ActionLink("Taxi", "Taxi", "Admin")</li>
    <li role="presentation" class="active">@Html.ActionLink("Approvers", "Index", "Approvers")</li>
    <li role="presentation">@Html.ActionLink("Zarządzaj kontem", "Index", "Manage")</li>
</ul>

<h3>Edycja Approvera</h3>
<div>
@if (TempData["errorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Błąd!</strong> @TempData["errorMessage"]
    </div>
}
@if (TempData["successMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Sukces!</strong> @TempData["successMessage"]
    </div>
}
<div>

    <form method="post" action="@Url.Action("Update", "Approvers", new { id = Model.PeopleId })">
        <div class="form-group">
            <label for="name">Imię i nazwisko: </label>
            <input class="form-control" id="name" name="name" type="text" value="@Model.Name" placeholder="Imię i nazwisko" />
        </div>
        <div class="form-group">
            <label for="email">E-mail: </label>
            <input class="form-control" id="email" type="email" name="email" value="@Model.Email" placeholder="Email" />
        </div>
        <div class="form-group">
            <label for="phone">Nnumer telefonu: </label>
            <input class="form-control" id="phone" name="phone" type="tel"  value="@Model.Phone" placeholder="Telefon" />
        </div>

        <br />
        <button class="btn btn-primary" type="submit">Zaaktualizuj</button>
        <button class="btn btn-danger" onclick="location.href = '@Url.Action("Index", "Approvers")'">Anuluj</button>
    </form>
    
</div>
    </div>
