@{
    string name = ViewData["name"].ToString();
}

<h2>Administracja</h2>
<hr />
<div>
    <ul class="nav nav-pills">
        <li role="presentation" @(name == "taxi" ? new { @class = "active" } : null)>@Html.ActionLink("Taxi", "Taxi", "Admin")</li>
        <li role="presentation" @(name == "approvers" ? new { @class = "active" } : null)>@Html.ActionLink("Approvers", "Index", "Approvers")</li>
        <li role="presentation" @(name == "manage" ? new { @class = "active" } : null)>@Html.ActionLink("Zarządzaj kontem", "Index", "Manage")</li>
    </ul>
    <br />
</div>