<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - TakSii</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("recaptcha", false)
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Rozwiń</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TakSii", "Index", "Taxi", null, new {@class = "navbar-brand"})
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Przejazdy", "Index", "Taxi", null, new {@class = "nav-link"})</li>
                    <li>@Html.ActionLink("Nowy przejazd", "New", "Taxi", null, new {@class = "nav-link"})</li>
                    <li>@Html.ActionLink("Admin", "Taxi", "Admin", null, new {@class = "nav-link"})</li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                @if (TempData["errorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>Błąd!</strong> @TempData["errorMessage"]
                    </div>
                }
                @if (TempData["successMessage"] != null)
                {
                    <div class="alert alert-success">
                        <strong>Sukces!</strong> @TempData["successMessage"]
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </section>
    <footer>
        <div class="text-center">
            <p class="col-md-12">Sii Gdańsk &copy; @DateTime.Now.Year </p>
        </div>
    </footer>
</div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#bugReport" style="position: fixed; bottom: 10px; right: 10px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Zgłoś Błąd</button>

    <!-- Modal -->
    <div id="bugReport" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Zgłaszanie błędu</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="@Url.Action("BugReport", "Taxi")" data-toggle="validator">
                        <div class="form-group has-feedback">
                            <label for="name">Zgłaszający:</label>
                            <input class="form-control" id="name" name="name" type="text" placeholder="Zgłaszający"  required />
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="name">Opis błędu: </label>
                            <textarea class="form-control" rows="5" id="description" name="description" required></textarea>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                        <br />
                        <button class="btn btn-primary" type="submit">Zgłoś</button><button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/datepicker")
@RenderSection("Scripts", false)
</body>
</html>