<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>@ViewBag.Title - TakSii</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
     @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container-fluid">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        @Html.ActionLink("Przejazdy", "Index", "Taxi", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Nowy przejazd", "New", "Taxi", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "nav-link" })
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
            <h3 class="text-muted">@Html.ActionLink("TakSii", "Index", "Home")</h3>
        </div>

        <section>
            <div class=" row justify-content-center">
                <div class='col-8'>
                    @RenderBody()
                    </div>
                </div>
        </section>
        <footer>
            <div class="text-center">
                <p class="col-md-12">Sii Gdańsk &copy; @DateTime.Now.Year </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
